@charset "UTF-8";

/* 	div{ */
/* /* 		border: 1px solid blue; */ */
/* 	} */
/* 	.top{ */
/* 		width:100%; */
/* 		height:70px; */
		
/* 		display: block; */
/* 		background-color: aqua;		 */
/* 	} */
/* 	.top>ul,.footer>ul{ */
/* 		list-style: none; */
/* 	} */
/* 	.top li, .footer li{ */
/* 		float: left; */
/* 		padding-left:50px; */
/* 		margin-right: 20px;  */
/* 		padding-top: 20px; */
		
/* 	} */
	/* .left{ 
    position: absolute; 
	    height:969px; 
 		width: 20%; 
 		float: left;  
 		background-color: white; 
 		
 	} 
	.body{ 
 		width: 78%; 
 		height:969px; 
 		float: right; 
		overflow: scroll; 
 		 
 	}  */
/* 	.footer{ */
/* 	width: 100%; */
/* 	height: 70px; */
/* 	float: left; */
/* 	background-color: lime; */
/* 	/* 		direction: block; */ */
/* 	} */